# Covid-19 Radiograph Data exploration:

In [2]:
import pandas as pd
import numpy as np
import os

In [8]:
train = pd.read_csv('train_image_level.csv/train_image_level.csv')

In [9]:
train.head()

,id,boxes,label,StudyInstanceUID
0,000a312787f2_image,"[{'x': 789.28836, 'y': 582.43035, 'width': 102...",opacity 1 789.28836 582.43035 1815.94498 2499....,5776db0cec75
1,000c3a3f293f_image,NaN,none 1 0 0 1 1,ff0879eb20ed
2,0012ff7358bc_image,"[{'x': 677.42216, 'y': 197.97662, 'width': 867...",opacity 1 677.42216 197.97662 1545.21983 1197....,9d514ce429a7
3,001398f4ff4f_image,"[{'x': 2729, 'y': 2181.33331, 'width': 948.000...",opacity 1 2729 2181.33331 3677.00012 2785.33331,28dddc8559b2
4,001bd15d1891_image,"[{'x': 623.23328, 'y': 1050, 'width': 714, 'he...",opacity 1 623.23328 1050 1337.23328 2156 opaci...,dfd9fdd85a3e

In [10]:
train['boxes']

0       [{'x': 789.28836, 'y': 582.43035, 'width': 102...
1                                                     NaN
2       [{'x': 677.42216, 'y': 197.97662, 'width': 867...
3       [{'x': 2729, 'y': 2181.33331, 'width': 948.000...
4       [{'x': 623.23328, 'y': 1050, 'width': 714, 'he...
                              ...
6329                                                  NaN
6330                                                  NaN
6331    [{'x': 2197.38566, 'y': 841.07361, 'width': 31...
6332    [{'x': 2729.27083, 'y': 332.26044, 'width': 14...
6333    [{'x': 208.86463, 'y': 91.53448, 'width': 450....
Name: boxes, Length: 6334, dtype: object